body {
    background: #f8f9fc;
}

.card {
    border: none;
    border-radius: 12px;
}

.table td,
.table th {
    vertical-align: middle;
}

#listaCategorias {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

}

.card-categoria {

    background: white;

    border-radius: 12px;

    padding: 20px;

    min-width: 300px;

    flex: 1 1 320px;

    box-shadow:
        0 3px 12px rgba(0, 0, 0, .08);

    transition: .2s;

}

.card-categoria:hover {

    transform:
        translateY(-3px);

}

.card-categoria.entrada {

    border-left:
        5px solid #28a745;

}

.card-categoria.saida {

    border-left:
        5px solid #dc3545;

}

.area-acoes {

    margin-top: 15px;

}

.card-edicao {

    border-top: 1px solid #eee;

    padding-top: 15px;

}

.card-exclusao {

    border-top: 1px solid #eee;

    padding-top: 15px;

}