/* === SIDEBAR === */
.sidebar-dark {
    background: linear-gradient(180deg, #111 0%, #222 100%);
}

/* === HEADER CINZA === */
.topbar {
    background-color: #f1f3f8 !important;
    border-bottom: 1px solid #dee2e6;
}

body {
    background-color: #f8f9fc;
}

#produtosCadastrados {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-produto {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    flex: 1 1 320px;
    max-width: 350px;
    transition: 0.2s ease;
}

.card-produto:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}